:root {
    --color-light-blue: #8db9e0;
    --color-light-grey: #f0f0f0;
    --color-light-purple: #9682db;
    --border-radius: 10px;
}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    margin:50px max(200px, 20%);
}

.wrapper {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:0 auto;
  width:50%;
  height:100%;
}



input[type="text"] {
    padding:10px 0px;
    width: 100%;
    outline:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:2px solid var(--color-light-blue);
    font-size:20px;
    color: var(--color-light-purple);;
}


ul.search-results {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  list-style-type:none;
  background: var(--color-light-blue);

}

ul.search-results li {
  padding:15px;
  margin:10px;
  border:1px solid #FFF;
  font-size:1.2rem;
  background: var(--color-light-purple);
  color:#FFF;
  text-transsearch-form: capitalize;

}

ul.search-results li .search-highlight {
  color: #fff;
  background:var(--color-light-blue);
}

ul.search-results li:hover {
  color: var(--color-light-purple);;
  background: var(--color-light-grey);
}


/* Spinner */
/* Spinner */
/* Spinner */

.lds-ellipsis {
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--color-light-blue);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
