body {
    margin:0;
    padding:0;
    background:#202022;
    overflow:hidden;
}

.container {
    max-width:968px;
    height:100vh;
    margin:0 auto;
    position:relative;
}

.content {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding-right:10px;
    padding-left:10px;
    height:100%;
}

.row {
    display:flex;
    justify-content:center;
    gap:30px;
    width:auto;
    margin-top:30px;
}

.background {
    background-image: url('./assets/bg.jpeg');
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    opacity:0.4;
}


.card-title {
    text-align:center;
    font-weight:bold;
    font-size:16px;
}

.card {
    padding:10px 15px;
    background:#FFF; 
    border-radius:5px;  
}

select {
    padding:10px 15px;
}