/* Add your css styles here */
:root {
    --primary-color: #F9F9F9;
    --secondary-color: #E3EFF6;
    --border-radius: 4px;
    --white: #FFF;
    --gray: #F1F1F1;
    --border-color: #D6D6D6;
    --red: #FF0000;
    --messageColor: #888888
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    max-width:678px;
    margin:0 auto;

}

.wrapper {
    position:relative;
    display:flex;
    align-items:center;
    width:350px;

}

input[type="text"] {
    padding:15px 15px;
    width:100%;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    border:none;
    border-bottom: 2px solid var(--border-color)
}

input[type="text"]:focus {
    background: var(--secondary-color);
    outline:none;
}

button {
    position:absolute;
    right:0;
    padding:8px 12px;
    margin-right:10px;
    background:var(--white);
    border:none;
    cursor:pointer;
}

ul {
    padding:0;
    margin:0;
    width:350px;
}

li {
    list-style-type:none;
    width:100%;
    padding-top:15px;
  
}

.item {
    background: var(--gray);
    border-radius: var(--border-radius);
    width:100%;
    height:3rem;
    display:flex;
    align-items:center;
    position:relative;
    overflow:hidden;
    
}

.item-content {
    position:relative;
    padding:10px;
}

.item-content p {
    font-size:14px;
    font-weight:bold;
}

.error {
    color: var(--red);
}

.message {
    color: var(--messageColor);
}